#header::before {
    content: "";
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(16px) saturate(180%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgb(241 245 249), rgb(103 232 249));
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:after {
    background: linear-gradient(to right, rgb(37 99 235), rgb(139 92 246));
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}